<style>
    .custom-tabs {
        min-height: calc(100vh - 335px) !important;
    }
</style>
<div class="card custom-tabs {{class}} my-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
            {{#each (parse_json abas)}}
                <li class="nav-item">
                    <a href="#{{titulo}}" class="nav-link {{#if active}}active{{/if}}" data-bs-toggle="tab">{{titulo}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            {{#each (parse_json abas)}}
                <div id="{{titulo}}" class="card bg-transparent border-0 tab-pane{{#if active}} active show{{/if}}" data-pre-init="card" data-embed="{{embed}}">
                    <div class="card-body p-0">
                        <div class="card-content remove-bottom-margin"></div>
                        <div class="d-flex justify-content-center h-100 align-items-center card-loading-placeholder">
                            <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>    
            {{/each}}
        </div>
    </div>
</div>
