<style>
    .custom-tabs {
        min-height: calc(100vh - 200px) !important;
    }
</style>
<div class="card custom-tabs {{class}} my-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
            {{#each (parse_json abas)}}
                <li class="nav-item">
                    <a href="#{{titulo}}" class="nav-link {{#if active}}active{{/if}}" data-bs-toggle="tab">{{titulo}}</a>
                </li>
            {{/each}}
            {{!-- <li class="nav-item">
                <a href="#tabs-home-ex1" class="nav-link active" data-bs-toggle="tab">Tópicos</a>
            </li>
            <li class="nav-item">
                <a href="#tabs-profile-ex1" class="nav-link" data-bs-toggle="tab">Documentações solicitadas</a>
            </li> --}}
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            
            
            
            {{!-- <div class="tab-pane active show" id="tabs-home-ex1">
                <h4>Home tab</h4>
                <div>
                    Cursus turpis vestibulum, dui in pharetra vulputate id sed non turpis ultricies fringilla
                    at sed facilisis lacus pellentesque purus nibh
                </div>
            </div>
            <div class="tab-pane" id="tabs-profile-ex1">
                <h4>Profile tab</h4>
                <div>
                    Fringilla egestas nunc quis tellus diam rhoncus ultricies tristique enim at diam, sem nunc
                    amet, pellentesque id egestas velit sed
                </div>
            </div> --}}
        </div>
    </div>
</div>

{{!-- 

TITULO:

1. Tópicos
2. Solicitações de documentações

DATA-EMBED: 

1. {{link}}
2. {{link}}

ACTIVE:

1. {{active}}
2. {{active}}

--}}
